/nbproject/private/
/icu/
/icubuild/
/lzma/
/zlib-*/
/z/
/xz-*/
/xz-*.tar.gz*
/icu4c-*.tgz*
/zlib-*.tar.gz*
/xapian-core-*.tar.xz*
/libzim-*.tar.gz
/xapian*/
/libzim*/
/pugixml*/
/pugixml-*.tar.gz
/aria2*/
/aria2-*.tar.gz
/kiwix-lib*/
/kiwix-lib-*.tar.gz
/curl*/
/curl-*.tar.gz
/mustach*/
/mustach*.tar.gz